fenix/middle/3/SalesManagementApplication.module/Schemas/CreditLineQuery/ServletType5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">
	<xsd:element name="Root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="RecordSet">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="TableDef">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="FIPAIS">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute type="xsd:integer" name="TipoDato" />
														<xsd:attribute type="xsd:string" name="ClaseDato" />
														<xsd:attribute type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FICANAL">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute type="xsd:integer" name="TipoDato" />
														<xsd:attribute type="xsd:string" name="ClaseDato" />
														<xsd:attribute type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FISUCURSAL">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute type="xsd:integer" name="TipoDato" />
														<xsd:attribute type="xsd:string" name="ClaseDato" />
														<xsd:attribute type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FIFOLIO">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute type="xsd:integer" name="TipoDato" />
														<xsd:attribute type="xsd:string" name="ClaseDato" />
														<xsd:attribute type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FCTARJETAAZTECA">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute type="xsd:integer" name="TipoDato" />
														<xsd:attribute type="xsd:string" name="ClaseDato" />
														<xsd:attribute type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>										
										<xsd:element name="FITIPOTARJETA">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute type="xsd:integer" name="TipoDato" />
														<xsd:attribute type="xsd:string" name="ClaseDato" />
														<xsd:attribute type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>										
										<xsd:element name="FCTARJETAPRIMA">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute type="xsd:integer" name="TipoDato" />
														<xsd:attribute type="xsd:string" name="ClaseDato" />
														<xsd:attribute type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FCCLIENTEALNOVA">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute type="xsd:integer" name="TipoDato" />
														<xsd:attribute type="xsd:string" name="ClaseDato" />
														<xsd:attribute type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FCNOMBRE">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute type="xsd:integer" name="TipoDato" />
														<xsd:attribute type="xsd:string" name="ClaseDato" />
														<xsd:attribute type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FCAPPATERNO">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute type="xsd:integer" name="TipoDato" />
														<xsd:attribute type="xsd:string" name="ClaseDato" />
														<xsd:attribute type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FCAPMATERNO">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute type="xsd:integer" name="TipoDato" />
														<xsd:attribute type="xsd:string" name="ClaseDato" />
														<xsd:attribute type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FDFNACIMIENTO">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute type="xsd:integer" name="TipoDato" />
														<xsd:attribute type="xsd:string" name="ClaseDato" />
														<xsd:attribute type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FCSEXO">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute type="xsd:integer" name="TipoDato" />
														<xsd:attribute type="xsd:string" name="ClaseDato" />
														<xsd:attribute type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FCDIRCALLE">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute type="xsd:integer" name="TipoDato" />
														<xsd:attribute type="xsd:string" name="ClaseDato" />
														<xsd:attribute type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FCDIRNOEXT">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute type="xsd:integer" name="TipoDato" />
														<xsd:attribute type="xsd:string" name="ClaseDato" />
														<xsd:attribute type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FCDIRNOINT">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute type="xsd:integer" name="TipoDato" />
														<xsd:attribute type="xsd:string" name="ClaseDato" />
														<xsd:attribute type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FCCODIGOPOSTAL">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute type="xsd:integer" name="TipoDato" />
														<xsd:attribute type="xsd:string" name="ClaseDato" />
														<xsd:attribute type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FCCOLONIA">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute type="xsd:integer" name="TipoDato" />
														<xsd:attribute type="xsd:string" name="ClaseDato" />
														<xsd:attribute type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FCPOBDESC">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute type="xsd:integer" name="TipoDato" />
														<xsd:attribute type="xsd:string" name="ClaseDato" />
														<xsd:attribute type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FCEDODESC">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute type="xsd:integer" name="TipoDato" />
														<xsd:attribute type="xsd:string" name="ClaseDato" />
														<xsd:attribute type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FICAPACIDADPAGO">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute type="xsd:integer" name="TipoDato" />
														<xsd:attribute type="xsd:string" name="ClaseDato" />
														<xsd:attribute type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FICAPACIDADPAGOUSADA">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute type="xsd:integer" name="TipoDato" />
														<xsd:attribute type="xsd:string" name="ClaseDato" />
														<xsd:attribute type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FDFMOVIMIENTO">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute type="xsd:integer" name="TipoDato" />
														<xsd:attribute type="xsd:string" name="ClaseDato" />
														<xsd:attribute type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FICVEIDENTIFICACION">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute type="xsd:integer" name="TipoDato" />
														<xsd:attribute type="xsd:string" name="ClaseDato" />
														<xsd:attribute type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FCFOLIOIDENTIFICACION">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute type="xsd:integer" name="TipoDato" />
														<xsd:attribute type="xsd:string" name="ClaseDato" />
														<xsd:attribute type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FCSTATUS">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute type="xsd:integer" name="TipoDato" />
														<xsd:attribute type="xsd:string" name="ClaseDato" />
														<xsd:attribute type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FIASOCIADODESDE">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute type="xsd:integer" name="TipoDato" />
														<xsd:attribute type="xsd:string" name="ClaseDato" />
														<xsd:attribute type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FIPAISG">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute type="xsd:integer" name="TipoDato" />
														<xsd:attribute type="xsd:string" name="ClaseDato" />
														<xsd:attribute type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FCANALG">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute type="xsd:integer" name="TipoDato" />
														<xsd:attribute type="xsd:string" name="ClaseDato" />
														<xsd:attribute type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FSUCURSALG">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute type="xsd:integer" name="TipoDato" />
														<xsd:attribute type="xsd:string" name="ClaseDato" />
														<xsd:attribute type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FCNOMBREENTARJE">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute type="xsd:integer" name="TipoDato" />
														<xsd:attribute type="xsd:string" name="ClaseDato" />
														<xsd:attribute type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FITIPOSOLICITUD">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute type="xsd:integer" name="TipoDato" />
														<xsd:attribute type="xsd:string" name="ClaseDato" />
														<xsd:attribute type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FCTELEFONO">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute type="xsd:integer" name="TipoDato" />
														<xsd:attribute type="xsd:string" name="ClaseDato" />
														<xsd:attribute type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>										
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="datos">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="REGISTRO1">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string">
														<xsd:attribute type="xsd:integer" name="FIPAIS" />
														<xsd:attribute type="xsd:integer" name="FICANAL" />
														<xsd:attribute type="xsd:integer" name="FISUCURSAL" />
														<xsd:attribute type="xsd:integer" name="FIFOLIO" />
														<xsd:attribute type="xsd:integer" name="FCTARJETAAZTECA" />														
														<xsd:attribute type="xsd:integer" name="FITIPOTARJETA" />
														<xsd:attribute type="xsd:integer" name="FCTARJETAPRIMA" />														
														<xsd:attribute type="xsd:integer" name="FCCLIENTEALNOVA" />
														<xsd:attribute type="xsd:integer" name="FCNOMBRE" />
														<xsd:attribute type="xsd:integer" name="FCAPPATERNO" />
														<xsd:attribute type="xsd:integer" name="FCAPMATERNO" />
														<xsd:attribute type="xsd:string" name="FDFNACIMIENTO" />
														<xsd:attribute type="xsd:string" name="FCSEXO" />
														<xsd:attribute type="xsd:integer" name="FCDIRCALLE" />
														<xsd:attribute type="xsd:integer" name="FCDIRNOEXT" />
														<xsd:attribute type="xsd:integer" name="FCDIRNOINT" />
														<xsd:attribute type="xsd:integer" name="FCCODIGOPOSTAL" />
														<xsd:attribute type="xsd:integer" name="FCCOLONIA" />
														<xsd:attribute type="xsd:integer" name="FCPOBDESC" />
														<xsd:attribute type="xsd:integer" name="FCEDODESC" />
														<xsd:attribute type="xsd:integer" name="FICAPACIDADPAGO" />
														<xsd:attribute type="xsd:integer" name="FICAPACIDADPAGOUSADA" />
														<xsd:attribute type="xsd:integer" name="FDFMOVIMIENTO" />
														<xsd:attribute type="xsd:string" name="FICVEIDENTIFICACION" />
														<xsd:attribute type="xsd:integer" name="FCFOLIOIDENTIFICACION" />
														<xsd:attribute type="xsd:integer" name="FCSTATUS" />
														<xsd:attribute type="xsd:integer" name="FIASOCIADODESDE" />
														<xsd:attribute type="xsd:integer" name="FIPAISG" />
														<xsd:attribute type="xsd:integer" name="FCANALG" />
														<xsd:attribute type="xsd:integer" name="FSUCURSALG" />
														<xsd:attribute type="xsd:integer" name="FCNOMBREENTARJE" />
														<xsd:attribute type="xsd:integer" name="FITIPOSOLICITUD" />
														<xsd:attribute type="xsd:integer" name="FCTELEFONO" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ERROR">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string">
											<xsd:attribute type="xsd:integer" name="DescErr" />
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>