fenix/middle/3/SalesManagementApplication.module/Schemas/CreditLineQuery/ServletType8.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Root">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RecordSet">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="TableDef">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="FIPAIS">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute type="xsd:integer" name="TipoDato"/>
                            <xsd:attribute type="xsd:string" name="ClaseDato"/>
                            <xsd:attribute type="xsd:integer" name="Size"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="FICANAL">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute type="xsd:integer" name="TipoDato"/>
                            <xsd:attribute type="xsd:string" name="ClaseDato"/>
                            <xsd:attribute type="xsd:integer" name="Size"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="FISUCURSAL">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute type="xsd:integer" name="TipoDato"/>
                            <xsd:attribute type="xsd:string" name="ClaseDato"/>
                            <xsd:attribute type="xsd:integer" name="Size"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="FIFOLIO">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute type="xsd:integer" name="TipoDato"/>
                            <xsd:attribute type="xsd:string" name="ClaseDato"/>
                            <xsd:attribute type="xsd:integer" name="Size"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="FIPAISGESTOR">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute type="xsd:integer" name="TipoDato"/>
                            <xsd:attribute type="xsd:string" name="ClaseDato"/>
                            <xsd:attribute type="xsd:integer" name="Size"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="FICANALGESTOR">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute type="xsd:integer" name="TipoDato"/>
                            <xsd:attribute type="xsd:string" name="ClaseDato"/>
                            <xsd:attribute type="xsd:integer" name="Size"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="FISUCURSALGESTORA">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute type="xsd:integer" name="TipoDato"/>
                            <xsd:attribute type="xsd:string" name="ClaseDato"/>
                            <xsd:attribute type="xsd:integer" name="Size"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="FISTATUS">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute type="xsd:integer" name="TipoDato"/>
                            <xsd:attribute type="xsd:string" name="ClaseDato"/>
                            <xsd:attribute type="xsd:integer" name="Size"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="FDFECHAALTA">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute type="xsd:integer" name="TipoDato"/>
                            <xsd:attribute type="xsd:string" name="ClaseDato"/>
                            <xsd:attribute type="xsd:integer" name="Size"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="FDFECHAACT">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute type="xsd:integer" name="TipoDato"/>
                            <xsd:attribute type="xsd:string" name="ClaseDato"/>
                            <xsd:attribute type="xsd:integer" name="Size"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="FINGCIOID">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute type="xsd:integer" name="TipoDato"/>
                            <xsd:attribute type="xsd:string" name="ClaseDato"/>
                            <xsd:attribute type="xsd:integer" name="Size"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="FINOTIENDA">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute type="xsd:integer" name="TipoDato"/>
                            <xsd:attribute type="xsd:string" name="ClaseDato"/>
                            <xsd:attribute type="xsd:integer" name="Size"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="FICTEID">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute type="xsd:integer" name="TipoDato"/>
                            <xsd:attribute type="xsd:string" name="ClaseDato"/>
                            <xsd:attribute type="xsd:integer" name="Size"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="FIDIGITOVER">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute type="xsd:integer" name="TipoDato"/>
                            <xsd:attribute type="xsd:string" name="ClaseDato"/>
                            <xsd:attribute type="xsd:integer" name="Size"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="FISTSCU">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute type="xsd:integer" name="TipoDato"/>
                            <xsd:attribute type="xsd:string" name="ClaseDato"/>
                            <xsd:attribute type="xsd:integer" name="Size"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="datos">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="REGISTRO1">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute type="xsd:integer" name="FIPAIS"/>
                            <xsd:attribute type="xsd:integer" name="FICANAL"/>
                            <xsd:attribute type="xsd:integer" name="FISUCURSAL"/>
                            <xsd:attribute type="xsd:integer" name="FIFOLIO"/>
                            <xsd:attribute type="xsd:integer" name="FIPAISGESTOR"/>
                            <xsd:attribute type="xsd:integer" name="FICANALGESTOR"/>
                            <xsd:attribute type="xsd:integer" name="FISUCURSALGESTORA"/>
                            <xsd:attribute type="xsd:integer" name="FISTATUS"/>
                            <xsd:attribute type="xsd:string" name="FDFECHAALTA"/>
                            <xsd:attribute type="xsd:string" name="FDFECHAACT"/>
                            <xsd:attribute type="xsd:integer" name="FINGCIOID"/>
                            <xsd:attribute type="xsd:integer" name="FINOTIENDA"/>
                            <xsd:attribute type="xsd:integer" name="FICTEID"/>
                            <xsd:attribute type="xsd:integer" name="FIDIGITOVER"/>
                            <xsd:attribute type="xsd:integer" name="FISTSCU"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
			  <xsd:element name="ERROR">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string">
											<xsd:attribute type="xsd:integer" name="DescErr" />
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>