fenix/middle/2/TimerManagementApplication/Schemas/Reports/MailGestionSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1554315393903" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1554315393903">
  <complexType name="MailGestionSchemaElementType">
    <sequence>
    	<element maxOccurs="unbounded" minOccurs="0" name="to"
    		type="string" />
    	<element maxOccurs="unbounded" minOccurs="0" name="cc"
    		type="string" />
    	<element name="store" type="string" minOccurs="0"/>
    </sequence>
  </complexType>
  <element name="MailGestionSchemaElement" type="tns:MailGestionSchemaElementType"/>
</schema>
