fenix/middle/2/TimerManagementApplication/Schemas/Reports/ParametersGestionSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/ParametersGestionSchema" xmlns:tns="http://www.example.org/ParametersGestionSchema" elementFormDefault="qualified">
	<element name="mailTO">
		<complexType>
			<sequence>
				<element maxOccurs="1" minOccurs="1" name="descriptionParam" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="paramValue">
		<complexType>
			<sequence>
				<element maxOccurs="1" minOccurs="1" name="value" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>