fenix/middle/3/SalesManagementApplication.module/Schemas/EstimationsV2/EstimationsParametersSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/EstimationsParametersSchema" xmlns:tns="http://www.example.org/EstimationsParametersSchema" elementFormDefault="qualified">


    <complexType name="estimationsParameters">
    	<sequence>
    		<element name="employeeNumber" type="string" minOccurs="1" maxOccurs="1"></element>
    		<element name="branch" type="int" minOccurs="1" maxOccurs="1"></element>
    	</sequence>
    </complexType>
    

    <element name="estimationParameters" type="tns:estimationsParameters"></element>
</schema>