fenix/middle/test/FenixTestsApplication/Schemas/CreditLineQuery/ServletType7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified">
<xsd:element name="Root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="RecordSet">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="TableDef">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="FIPAIS">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension
														base="xsd:string">
														<xsd:attribute
															type="xsd:integer" name="TipoDato" />
														<xsd:attribute
															type="xsd:string" name="ClaseDato" />
														<xsd:attribute
															type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FICANAL">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension
														base="xsd:string">
														<xsd:attribute
															type="xsd:integer" name="TipoDato" />
														<xsd:attribute
															type="xsd:string" name="ClaseDato" />
														<xsd:attribute
															type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element
											name="FISUCURSAL">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension
														base="xsd:string">
														<xsd:attribute
															type="xsd:integer" name="TipoDato" />
														<xsd:attribute
															type="xsd:string" name="ClaseDato" />
														<xsd:attribute
															type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FIFOLIO">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension
														base="xsd:string">
														<xsd:attribute
															type="xsd:integer" name="TipoDato" />
														<xsd:attribute
															type="xsd:string" name="ClaseDato" />
														<xsd:attribute
															type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element
											name="FNCAPACIDADPAGO">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension
														base="xsd:string">
														<xsd:attribute
															type="xsd:integer" name="TipoDato" />
														<xsd:attribute
															type="xsd:string" name="ClaseDato" />
														<xsd:attribute
															type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element
											name="FNCAPACIDADPAGODISP">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension
														base="xsd:string">
														<xsd:attribute
															type="xsd:integer" name="TipoDato" />
														<xsd:attribute
															type="xsd:string" name="ClaseDato" />
														<xsd:attribute
															type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element
											name="FNMONTOLCR">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension
														base="xsd:string">
														<xsd:attribute
															type="xsd:integer" name="TipoDato" />
														<xsd:attribute
															type="xsd:string" name="ClaseDato" />
														<xsd:attribute
															type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element
											name="FIPLAZOMAX">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension
														base="xsd:string">
														<xsd:attribute
															type="xsd:integer" name="TipoDato" />
														<xsd:attribute
															type="xsd:string" name="ClaseDato" />
														<xsd:attribute
															type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element
											name="FNENGANCHE1COMPRA">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension
														base="xsd:string">
														<xsd:attribute
															type="xsd:integer" name="TipoDato" />
														<xsd:attribute
															type="xsd:string" name="ClaseDato" />
														<xsd:attribute
															type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element
											name="FIDIAPAGOUNICO">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension
														base="xsd:string">
														<xsd:attribute
															type="xsd:integer" name="TipoDato" />
														<xsd:attribute
															type="xsd:string" name="ClaseDato" />
														<xsd:attribute
															type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element
											name="FISTATUSAUTORIZACION">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension
														base="xsd:string">
														<xsd:attribute
															type="xsd:integer" name="TipoDato" />
														<xsd:attribute
															type="xsd:string" name="ClaseDato" />
														<xsd:attribute
															type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element
											name="FDFECHAULTACT">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension
														base="xsd:string">
														<xsd:attribute
															type="xsd:integer" name="TipoDato" />
														<xsd:attribute
															type="xsd:string" name="ClaseDato" />
														<xsd:attribute
															type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element
											name="FDFECHAULTAUT">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension
														base="xsd:string">
														<xsd:attribute
															type="xsd:integer" name="TipoDato" />
														<xsd:attribute
															type="xsd:string" name="ClaseDato" />
														<xsd:attribute
															type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FISTATUS">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension
														base="xsd:string">
														<xsd:attribute
															type="xsd:integer" name="TipoDato" />
														<xsd:attribute
															type="xsd:string" name="ClaseDato" />
														<xsd:attribute
															type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FITRANNO">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension
														base="xsd:string">
														<xsd:attribute
															type="xsd:integer" name="TipoDato" />
														<xsd:attribute
															type="xsd:string" name="ClaseDato" />
														<xsd:attribute
															type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element
											name="FILISTANEGRA">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension
														base="xsd:string">
														<xsd:attribute
															type="xsd:integer" name="TipoDato" />
														<xsd:attribute
															type="xsd:string" name="ClaseDato" />
														<xsd:attribute
															type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element
											name="FILOCALIZACION">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension
														base="xsd:string">
														<xsd:attribute
															type="xsd:integer" name="TipoDato" />
														<xsd:attribute
															type="xsd:string" name="ClaseDato" />
														<xsd:attribute
															type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FIRMD">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension
														base="xsd:string">
														<xsd:attribute
															type="xsd:integer" name="TipoDato" />
														<xsd:attribute
															type="xsd:string" name="ClaseDato" />
														<xsd:attribute
															type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FILEGAL">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension
														base="xsd:string">
														<xsd:attribute
															type="xsd:integer" name="TipoDato" />
														<xsd:attribute
															type="xsd:string" name="ClaseDato" />
														<xsd:attribute
															type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element
											name="FIDIFICILCOBRO">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension
														base="xsd:string">
														<xsd:attribute
															type="xsd:integer" name="TipoDato" />
														<xsd:attribute
															type="xsd:string" name="ClaseDato" />
														<xsd:attribute
															type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element
											name="FIACEPTAPP">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension
														base="xsd:string">
														<xsd:attribute
															type="xsd:integer" name="TipoDato" />
														<xsd:attribute
															type="xsd:string" name="ClaseDato" />
														<xsd:attribute
															type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element
											name="FNSUMSALDO">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension
														base="xsd:string">
														<xsd:attribute
															type="xsd:integer" name="TipoDato" />
														<xsd:attribute
															type="xsd:string" name="ClaseDato" />
														<xsd:attribute
															type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FICOMPRAS">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension
														base="xsd:string">
														<xsd:attribute
															type="xsd:integer" name="TipoDato" />
														<xsd:attribute
															type="xsd:string" name="ClaseDato" />
														<xsd:attribute
															type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element
											name="FDFECHAALTACREDITO">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension
														base="xsd:string">
														<xsd:attribute
															type="xsd:integer" name="TipoDato" />
														<xsd:attribute
															type="xsd:string" name="ClaseDato" />
														<xsd:attribute
															type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="FIPCJ">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension
														base="xsd:string">
														<xsd:attribute
															type="xsd:integer" name="TipoDato" />
														<xsd:attribute
															type="xsd:string" name="ClaseDato" />
														<xsd:attribute
															type="xsd:integer" name="Size" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="datos">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="REGISTRO1">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension
														base="xsd:string">
														<xsd:attribute
															type="xsd:integer" name="FIPAIS" />
														<xsd:attribute
															type="xsd:integer" name="FICANAL" />
														<xsd:attribute
															type="xsd:integer" name="FISUCURSAL" />
														<xsd:attribute
															type="xsd:integer" name="FIFOLIO" />
														<xsd:attribute
															type="xsd:integer" name="FNCAPACIDADPAGO" />
														<xsd:attribute
															type="xsd:integer" name="FNCAPACIDADPAGODISP" />
														<xsd:attribute
															type="xsd:integer" name="FNMONTOLCR" />
														<xsd:attribute
															type="xsd:integer" name="FIPLAZOMAX" />
														<xsd:attribute
															type="xsd:integer" name="FNENGANCHE1COMPRA" />
														<xsd:attribute
															type="xsd:integer" name="FIDIAPAGOUNICO" />
														<xsd:attribute
															type="xsd:integer" name="FISTATUSAUTORIZACION" />
														<xsd:attribute
															type="xsd:string" name="FDFECHAULTACT" />
														<xsd:attribute
															type="xsd:string" name="FDFECHAULTAUT" />
														<xsd:attribute
															type="xsd:integer" name="FISTATUS" />
														<xsd:attribute
															type="xsd:integer" name="FITRANNO" />
														<xsd:attribute
															type="xsd:integer" name="FILISTANEGRA" />
														<xsd:attribute
															type="xsd:integer" name="FILOCALIZACION" />
														<xsd:attribute
															type="xsd:integer" name="FIRMD" />
														<xsd:attribute
															type="xsd:integer" name="FILEGAL" />
														<xsd:attribute
															type="xsd:integer" name="FIDIFICILCOBRO" />
														<xsd:attribute
															type="xsd:integer" name="FIACEPTAPP" />
														<xsd:attribute
															type="xsd:integer" name="FNSUMSALDO" />
														<xsd:attribute
															type="xsd:integer" name="FICOMPRAS" />
														<xsd:attribute
															type="xsd:string" name="FDFECHAALTACREDITO" />
														<xsd:attribute
															type="xsd:integer" name="FIPCJ" />
													</xsd:extension>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ERROR">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string">
											<xsd:attribute type="xsd:integer" name="DescErr" />
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>