fenix/middle/1/PortfolioManagementApplicationModule.module/Schemas/Util/UtilShema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/UtilShema" xmlns:tns="http://www.example.org/UtilShema"
	elementFormDefault="qualified">
	<xsd:element name="path">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="0" name="file" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="contentFile">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="contentBase" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>