fenix/middle/2/TimerManagementApplication/Schemas/Notification/NotificationsSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/NotificationsSchema" xmlns:tns="http://www.example.org/NotificationsSchema"
	elementFormDefault="qualified">
	<xs:element name="PortfolioAssignation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="zone" type="xs:integer"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PortfolioAssignationSync">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="zone" type="xs:integer" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>