fenix/middle/1/PortfolioManagementApplicationModule.module/Schemas/V2/GoalsV2/Weekly/GoalsWeeklyRequestInterfaceSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/GoalsWeeklyRequestInterfaceSchema"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.example.org/GoalsWeeklyRequestInterfaceSchema"
	elementFormDefault="qualified">
	
	<xs:element name="goalsWeeklyRequestInterface">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" minOccurs="1" name="geographyId" type="xs:integer" />
				<xs:element maxOccurs="1" minOccurs="1" name="date" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</schema>