fenix/middle/3/SalesManagementApplication.module/Schemas/OverviewPurse/Orders/pendingOrdersResultSP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified">
<element name="Resultsets">
    <complexType>
        <sequence>
        <element  name="ResultSet1" minOccurs="0">
	            <complexType >
		            <sequence>
			            <element  name="Record1" minOccurs="0" maxOccurs="unbounded">
				            <complexType >
					            <sequence>
								<element minOccurs="0" name="FISKU" type="decimal"/>
					            </sequence>
				            </complexType>
						</element>
			        </sequence>
	            </complexType>
			</element>
			
        </sequence>
    </complexType>
  </element>
</schema>