fenix/middle/1/PortfolioManagementApplicationModule.module/Schemas/V2/GoalsV2/Daily/GoalsDailyParameterSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/GoalsDailyParameterSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.example.org/GoalsDailyParameterSchema">
	
	<xs:element name="goals-daily-v2GetParameters">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" minOccurs="1" name="geographyId" type="xs:integer"/>
                <element maxOccurs="1" minOccurs="1" name="geography" type="string"/>
            </xs:sequence>
		</xs:complexType>
	</xs:element>
</schema>
