fenix/middle/1/PortfolioManagementApplicationModule.module/Schemas/api-v1-portfolioHeaderParameterSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:Q1="http://tns.tibco.com/bw/REST" xmlns:source="bw.rest" xmlns:tns="http://xmlns.example.com/api-v1-portfolio/headerParameters" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://xmlns.example.com/api-v1-portfolio/headerParameters">
  <xs:import namespace="http://tns.tibco.com/bw/REST" schemaLocation="RESTSchema.xsd"/>
  <xs:complexType name="alertsGetResponseHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportResponseHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="transactionId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="alertsGetResponseHeader" type="tns:alertsGetResponseHeaderType"/>
  <xs:complexType name="alertsPutResponseHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportResponseHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="transactionId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="alertsPutResponseHeader" type="tns:alertsPutResponseHeaderType"/>
  <xs:complexType name="alertsPostResponseHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportResponseHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="transactionId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="alertsPostResponseHeader" type="tns:alertsPostResponseHeaderType"/>
  <xs:complexType name="alertsDeleteResponseHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportResponseHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="transactionId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="alertsDeleteResponseHeader" type="tns:alertsDeleteResponseHeaderType"/>
    <xs:complexType name="geographyGetResponseHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportResponseHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="transactionId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="geographyGetResponseHeader" type="tns:geographyGetResponseHeaderType"/>
    <xs:complexType name="alerts-watchPostResponseHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportResponseHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="transactionId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="alerts-watchPostResponseHeader" type="tns:alerts-watchPostResponseHeaderType"/>
    <xs:complexType name="datebook-eventGetResponseHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportResponseHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="transactionId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="datebook-eventGetResponseHeader" type="tns:datebook-eventGetResponseHeaderType"/>
    <xs:complexType name="purse-clientsGetResponseHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportResponseHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="transactionId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="purse-clientsGetResponseHeader" type="tns:purse-clientsGetResponseHeaderType"/>
    <xs:complexType name="datebook-eventsGetResponseHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportResponseHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="transactionId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="datebook-eventsGetResponseHeader" type="tns:datebook-eventsGetResponseHeaderType"/>
    <xs:complexType name="datebook-eventsPutResponseHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportResponseHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="transactionId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="datebook-eventsPutResponseHeader" type="tns:datebook-eventsPutResponseHeaderType"/>
    <xs:complexType name="ManagementGetResponseHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportResponseHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="transactionId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="ManagementGetResponseHeader" type="tns:ManagementGetResponseHeaderType"/>
    <xs:complexType name="ManagementPutResponseHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportResponseHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="transactionId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="ManagementPutResponseHeader" type="tns:ManagementPutResponseHeaderType"/>
    <xs:complexType name="ManagementPostResponseHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportResponseHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="transactionId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="ManagementPostResponseHeader" type="tns:ManagementPostResponseHeaderType"/>
    <xs:complexType name="ManagementDeleteResponseHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportResponseHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="transactionId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="ManagementDeleteResponseHeader" type="tns:ManagementDeleteResponseHeaderType"/>
    <xs:complexType name="Management3GetResponseHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportResponseHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="transactionId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="Management3GetResponseHeader" type="tns:Management3GetResponseHeaderType"/>
    <xs:complexType name="Management3PutResponseHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportResponseHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="transactionId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="Management3PutResponseHeader" type="tns:Management3PutResponseHeaderType"/>
    <xs:complexType name="Management3PostResponseHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportResponseHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="transactionId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="Management3PostResponseHeader" type="tns:Management3PostResponseHeaderType"/>
    <xs:complexType name="Management3DeleteResponseHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportResponseHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="transactionId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="Management3DeleteResponseHeader" type="tns:Management3DeleteResponseHeaderType"/>
    <xs:complexType name="managementGetResponseHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportResponseHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="transactionId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="managementGetResponseHeader" type="tns:managementGetResponseHeaderType"/>
    <xs:complexType name="managementPostResponseHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportResponseHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="transactionId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="managementPostResponseHeader" type="tns:managementPostResponseHeaderType"/>
    <xs:complexType name="managementDeleteResponseHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportResponseHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="transactionId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="managementDeleteResponseHeader" type="tns:managementDeleteResponseHeaderType"/>
    <xs:complexType name="managementPutResponseHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportResponseHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="transactionId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="managementPutResponseHeader" type="tns:managementPutResponseHeaderType"/>
    <xs:complexType name="datebook-eventsPostResponseHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportResponseHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="transactionId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="datebook-eventsPostResponseHeader" type="tns:datebook-eventsPostResponseHeaderType"/>
    <xs:complexType name="datebook-eventsDeleteResponseHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportResponseHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="transactionId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="datebook-eventsDeleteResponseHeader" type="tns:datebook-eventsDeleteResponseHeaderType"/>
    <xs:complexType name="momentsGetResponseHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportResponseHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="transactionId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="momentsGetResponseHeader" type="tns:momentsGetResponseHeaderType"/>
    <xs:complexType name="customerFileGetResponseHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportResponseHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="transactionId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="customerFileGetResponseHeader" type="tns:customerFileGetResponseHeaderType"/>
    <xs:complexType name="portfolio-customers-countGetResponseHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportResponseHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="transactionId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="portfolio-customers-countGetResponseHeader" type="tns:portfolio-customers-countGetResponseHeaderType"/>
</xs:schema>
