fenix/middle/1/PortfolioManagementApplicationModule.module/Schemas/BannersSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tibex="http://www.tibco.com/bpel/2007/extensions" xmlns:tns="http://www.example.org/BannersSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.example.org/BannersSchema">

  <xsd:complexType name="ResponseQueryAllType">
    <xsd:sequence>
      <xsd:element name="_id" type="xsd:string"/>
      <xsd:element name="pais" type="xsd:string"/>
      <xsd:element name="zona" type="xsd:string"/>
      <xsd:element name="region" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="referenciaGrid" tibex:source="bw.generalactivities.mapper" type="xsd:string"/>
      <xsd:element name="estatus" type="xsd:string"/>
      <xsd:element name="fechaInicio" type="xsd:string"/>
      <xsd:element name="fechaFinal" type="xsd:string"/>
      <xsd:element name="fechaModifico" type="xsd:string"/>
      <xsd:element name="usrModifico" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  
    <xsd:complexType name="ResponseQueryArrayType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ResponseQueryAll" tibex:source="bw.generalactivities.mapper" type="tns:ResponseQueryAllType"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:element name="ResponseQueryArray" tibex:source="bw.generalactivities.mapper" type="tns:ResponseQueryArrayType"/>
  
  <xsd:complexType name="MatchQueryAllType">
    <xsd:sequence>
      <xsd:element name="pais" type="xsd:string"/>
      <xsd:element name="zona" type="xsd:string"/>
      <xsd:element name="region" type="xsd:string"/>
      <xsd:element name="estatus" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:element name="MatchQueryAll" tibex:source="bw.generalactivities.mapper" type="tns:MatchQueryAllType"/>
  
  <xsd:complexType name="DateCurrentType">
    <xsd:sequence>
      <xsd:element name="currentDate" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:element name="DateCurrent" tibex:source="bw.generalactivities.mapper" type="tns:DateCurrentType"/>
  
  <xsd:complexType name="ValidParametersQueryAllType">
    <xsd:sequence>
      <xsd:element name="pais" type="xsd:boolean"/>
      <xsd:element name="zona" type="xsd:boolean"/>
      <xsd:element name="region" type="xsd:boolean"/>
      <xsd:element name="estatus" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:element name="ValidParametersQueryAll" tibex:source="bw.generalactivities.mapper" type="tns:ValidParametersQueryAllType"/>
  
  <xsd:complexType name="BannersInputType">
    <xsd:sequence>
     <xsd:element name="country" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="zone" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="region" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="status" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:element name="BannersInput" tibex:source="bw.generalactivities.mapper" type="tns:BannersInputType"/>
  
  <xsd:complexType name="BannersDeleteType">
    <xsd:sequence>
      <xsd:element name="idBanner" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:element name="BannersDelete" tibex:source="bw.generalactivities.mapper" type="tns:BannersDeleteType"/>
  
    <xsd:complexType name="BannersInputCreationType">
    <xsd:sequence>
      <xsd:element name="BannerName" type="xsd:string"/>
      <xsd:element name="FileName" type="xsd:string"/>
      <xsd:element name="Country" type="xsd:integer"/>
      <xsd:element name="Zone" type="xsd:integer"/>
      <xsd:element name="Region" type="xsd:integer"/>
      <xsd:element name="DateInit" type="xsd:date"/>
      <xsd:element name="DateFinal" type="xsd:date"/>      
      <xsd:element name="Status" type="xsd:boolean"/>
      <xsd:element name="UserUpdate" type="xsd:string"/>
      <xsd:element name="binaryFile" type="xsd:base64Binary"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="BannersInputCreation" tibex:source="bw.generalactivities.mapper" type="tns:BannersInputCreationType"/>
  
  <xsd:complexType name="BannerUpdateType">
    <xsd:sequence>
      <xsd:element name="pais" type="xsd:integer"/>
      <xsd:element name="zona" type="xsd:integer"/>
      <xsd:element name="region" type="xsd:integer"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="referenciaGrid" tibex:source="bw.generalactivities.mapper" type="xsd:string"/>
      <xsd:element name="fechaInicio" type="xsd:string"/>
      <xsd:element name="fechaFinal" type="xsd:string"/>      
      <xsd:element name="estatus" type="xsd:boolean"/>
      <xsd:element name="usrModifico" type="xsd:string"/>
      <xsd:element name="fechaModifico" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="BannerUpdate" tibex:source="bw.generalactivities.mapper" type="tns:BannerUpdateType"/>
  
  <xsd:complexType name="referenciasGridType">
  	<xsd:sequence>
  		<xsd:element maxOccurs="unbounded" minOccurs="0" name="referenciaGrid" tibex:source="bw.generalactivities.mapper" type="xsd:string"/>
  	</xsd:sequence>
  </xsd:complexType>
  <xsd:element name="referenciasGrid" tibex:source="bw.generalactivities.mapper" type="tns:referenciasGridType"/>
  
  <xsd:complexType name="BannerUpdateJsonType">
    <xsd:sequence>
      <xsd:element name="pais" type="xsd:string"/>
      <xsd:element name="zona" type="xsd:string"/>
      <xsd:element name="region" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="referenciaGrid" tibex:source="bw.generalactivities.mapper" type="xsd:string"/>
      <xsd:element name="fechaInicio" type="xsd:string"/>
      <xsd:element name="fechaFinal" type="xsd:string"/>      
      <xsd:element name="estatus" type="xsd:string"/>
      <xsd:element name="usrModifico" type="xsd:string"/>
      <xsd:element name="fechaModifico" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="BannerUpdateJson" tibex:source="bw.generalactivities.mapper" type="tns:BannerUpdateJsonType"/>
  
  <xsd:element name="BannerUpdateDocument" tibex:source="bw.generalactivities.mapper" type="xsd:string"/>
  
  <xsd:complexType name="BannersInputUpdateType">
    <xsd:sequence>
      <xsd:element name="_id" type="xsd:string"/>
      <xsd:element name="banner" tibex:source="bw.generalactivities.mapper" type="tns:BannerUpdateType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="BannersInputUpdate" tibex:source="bw.generalactivities.mapper" type="tns:BannersInputUpdateType"/>
  
  <xsd:element name="BannersDocumentCreation" tibex:source="bw.generalactivities.mapper" type="xsd:string"/>
  
  <xsd:complexType name="BannersOutputType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="output" type="xsd:string"/>
<!--       <xsd:element minOccurs="0" name="binaryContent" type="xsd:base64Binary"/> -->
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="BannersOutput" tibex:source="bw.generalactivities.mapper" type="tns:BannersOutputType"/>
  
  
  <xsd:complexType name="BannersQueryInputType">
    <xsd:sequence>
      <xsd:element name="document" type="xsd:string"/>
      <xsd:element name="filename" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="BannersQueryInput" tibex:source="bw.generalactivities.mapper" type="tns:BannersQueryInputType"/>  
  
	<xsd:complexType name="BannersQueryOutputType">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="document" type="xsd:string" />
			<xsd:element minOccurs="0" name="binaryContent" type="xsd:base64Binary" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="BannersQueryOutput" tibex:source="bw.generalactivities.mapper"
		type="tns:BannersQueryOutputType" />
  
  
    <xsd:complexType name="BannersQueryOutputTypeArray">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="BannersQueryOutput" tibex:source="bw.generalactivities.mapper" type="tns:BannersQueryOutputType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="BannersQueryOutputArray" tibex:source="bw.generalactivities.mapper" type="tns:BannersQueryOutputTypeArray"/>
  <xsd:element name="ValidateBannersElementType">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="document">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="_id" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="pais" type="xsd:integer"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="zona" type="xsd:integer"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="region" type="xsd:integer"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="referenciaGrid" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="estatus" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  </xsd:element>
  <xsd:element name="bannersPutForm">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="0" name="pais" type="xsd:integer" />
				<xsd:element minOccurs="0" name="zona" type="xsd:integer" />
				<xsd:element minOccurs="0" name="region" type="xsd:integer" />
				<xsd:element minOccurs="0" name="fechaInit" type="xsd:date" />
				<xsd:element minOccurs="0" name="fechaFin" type="xsd:date" />
				<xsd:element minOccurs="0" name="estatus" type="xsd:boolean" />
				<xsd:element minOccurs="0" name="userModified" type="xsd:string" />
				<xsd:element minOccurs="0" name="dateModified" type="xsd:dateTime" />
				<xsd:element maxOccurs="unbounded" minOccurs="0" name="file">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="0" name="filename"
								type="xsd:string" />
							<xsd:element maxOccurs="1" minOccurs="0" name="content"
								type="xsd:base64Binary" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BannersInputQuery">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="bannerId" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	</xsd:element>
	<xsd:element name="bannersValidate">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="0" name="pais" type="xsd:boolean" />
				<xsd:element minOccurs="0" name="zona" type="xsd:boolean" />
				<xsd:element minOccurs="0" name="region" type="xsd:boolean" />
				<xsd:element minOccurs="0" name="fechaInit" type="xsd:boolean" />
				<xsd:element minOccurs="0" name="fechaFin" type="xsd:boolean" />
				<xsd:element minOccurs="0" name="userModified" type="xsd:boolean" />
				<xsd:element minOccurs="0" name="dateModified" type="xsd:boolean" />
				<xsd:element minOccurs="0" name="file" type="xsd:boolean"/>					
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>	
		<xsd:element name="bannersFiles">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="file" type="xsd:string" />
				<xsd:element name="bannersString" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
		<xsd:element name="ReferenceGrid">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" name="referenciaGrid" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="bannersString" type="xsd:string" />
	<xsd:element name="Files">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" name="File">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="dir" type="xsd:string" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
