fenix/middle/1/PortfolioManagementApplicationModule.module/Schemas/ContratoDeServicioWebPortafolio.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="/prd/marketing/T1539129569151Converted/JsonSchema" xmlns:tns="/prd/marketing/T1539129569151Converted/JsonSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Error" type="tns:Error"/>
    <xs:complexType name="Error">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="detailsError" type="tns:ErrorType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="responseDetailsCamping" type="tns:responseDetailsCamping"/>
    <xs:complexType name="responseDetailsCamping">
        <xs:sequence>
            <xs:element minOccurs="0" name="detailsCamping" type="tns:DetailsCamping"/>
            <xs:element minOccurs="0" name="issues" type="tns:Issues"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="responseCampaigns" type="tns:responseCampaigns"/>
    <xs:complexType name="responseCampaigns">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="campaigns" type="tns:Campaigns"/>
            <xs:element minOccurs="0" name="issues" type="tns:Issues"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Tracing" type="tns:Tracing"/>
    <xs:complexType name="Tracing">
        <xs:sequence>
            <xs:element minOccurs="0" name="tracingDescription" type="xs:string"/>
            <xs:element minOccurs="0" name="tracingId" type="xs:string"/>
            <xs:element minOccurs="0" name="campaignId" type="xs:string"/>
            <xs:element minOccurs="0" name="campaignDescription" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Issues" type="tns:Issues"/>
    <xs:complexType name="Issues">
        <xs:sequence>
            <xs:element name="issue" type="xs:boolean"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="detailsIssues" type="tns:IssuesType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="IssuesType" type="tns:IssuesType"/>
    <xs:complexType name="IssuesType">
        <xs:sequence>
            <xs:element minOccurs="0" name="error_code" type="xs:long"/>
            <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="responseClients" type="tns:responseClients"/>
    <xs:complexType name="responseClients">
        <xs:sequence>
            <xs:element minOccurs="0" name="camping" type="tns:Campaigns"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="clients" type="tns:UniqueClient"/>
            <xs:element minOccurs="0" name="issues" type="tns:Issues"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="UniqueTracingPut" type="tns:UniqueTracingPut"/>
    <xs:complexType name="UniqueTracingPut">
        <xs:sequence>
            <xs:element name="uniqueClientCountry" type="xs:string"/>
            <xs:element name="uniqueClientFolio" type="xs:string"/>
            <xs:element name="uniqueTracing" type="xs:string"/>
            <xs:element name="uniqueClientBranch" type="xs:string"/>
            <xs:element name="uniqueClientChannel" type="xs:string"/>
            <xs:element name="uniqueCampingId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="UniqueClientCampaings" type="tns:UniqueClientCampaings"/>
    <xs:complexType name="UniqueClientCampaings">
        <xs:sequence>
            <xs:element name="uniqueClientCountry" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="camping" type="tns:Campaigns"/>
            <xs:element name="uniqueClientFolio" type="xs:string"/>
            <xs:element name="uniqueClientBranch" type="xs:string"/>
            <xs:element name="uniqueClientChannel" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="UniqueClients" type="tns:UniqueClients"/>
    <xs:complexType name="UniqueClients">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="UniqueClients" type="tns:UniqueClient"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="UniqueClientIdCamping" type="tns:UniqueClientIdCamping"/>
    <xs:complexType name="UniqueClientIdCamping">
        <xs:sequence>
            <xs:element name="uniqueClientCountry" type="xs:string"/>
            <xs:element name="uniqueClientFolio" type="xs:string"/>
            <xs:element name="uniqueClientBranch" type="xs:string"/>
            <xs:element name="uniqueClientChannel" type="xs:string"/>
            <xs:element name="uniqueCampingId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="responseTracing" type="tns:responseTracing"/>
    <xs:complexType name="responseTracing">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="tracings" type="tns:Tracing"/>
            <xs:element minOccurs="0" name="issues" type="tns:Issues"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ErrorType" type="tns:ErrorType"/>
    <xs:complexType name="ErrorType">
        <xs:sequence>
            <xs:element minOccurs="0" name="error_code" type="xs:long"/>
            <xs:element minOccurs="0" name="message" type="xs:string"/>
            <xs:element minOccurs="0" name="transactionID" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Root" type="tns:Root"/>
    <xs:complexType name="Root">
        <xs:sequence>
            <xs:element minOccurs="0" name="responseRoot" type="tns:ResponseRoot"/>
            <xs:element minOccurs="0" name="requestRoot" type="tns:RequestRoot"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="UniqueClient" type="tns:UniqueClient"/>
    <xs:complexType name="UniqueClient">
        <xs:sequence>
            <xs:element name="uniqueClientCountry" type="xs:string"/>
            <xs:element name="uniqueClientFolio" type="xs:string"/>
            <xs:element name="uniqueClientBranch" type="xs:string"/>
            <xs:element name="uniqueClientChannel" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="NextBestOffer" type="tns:NextBestOffer"/>
    <xs:complexType name="NextBestOffer">
        <xs:sequence>
            <xs:element minOccurs="0" name="productLine" type="xs:string"/>
            <xs:element minOccurs="0" name="description" type="xs:string"/>
            <xs:element minOccurs="0" name="SKU" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Campaigns" type="tns:Campaigns"/>
    <xs:complexType name="Campaigns">
        <xs:sequence>
            <xs:element minOccurs="0" name="campaignId" type="xs:string"/>
            <xs:element minOccurs="0" name="campaignDescription" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Parameter" type="tns:Parameter"/>
    <xs:complexType name="Parameter">
        <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="responseDetailsClient" type="tns:responseDetailsClient"/>
    <xs:complexType name="responseDetailsClient">
        <xs:sequence>
            <xs:element minOccurs="0" name="detailsClient" type="tns:DetailsClient"/>
            <xs:element minOccurs="0" name="issues" type="tns:Issues"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="responseClientesCampaings" type="tns:responseClientesCampaings"/>
    <xs:complexType name="responseClientesCampaings">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ClientCampaings" type="tns:UniqueClientCampaings"/>
            <xs:element minOccurs="0" name="issues" type="tns:Issues"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="RequestRoot" type="tns:RequestRoot"/>
    <xs:complexType name="RequestRoot">
        <xs:sequence>
            <xs:element minOccurs="0" name="uniqueClientIdCamping" type="tns:UniqueClientIdCamping"/>
            <xs:element minOccurs="0" name="idService" type="xs:string"/>
            <xs:element minOccurs="0" name="UniqueTracingPut" type="tns:UniqueTracingPut"/>
            <xs:element minOccurs="0" name="id" type="tns:Parameter"/>
            <xs:element minOccurs="0" name="uniqueClient" type="tns:UniqueClient"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="DetailsCamping" type="tns:DetailsCamping"/>
    <xs:complexType name="DetailsCamping">
        <xs:sequence>
            <xs:element minOccurs="0" name="descriptionCamping" type="xs:string"/>
            <xs:element minOccurs="0" name="dateExpiry" type="xs:string"/>
            <xs:element minOccurs="0" name="validity" type="xs:string"/>
            <xs:element minOccurs="0" name="campaingId" type="xs:string"/>
            <xs:element minOccurs="0" name="typeCamping" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ResponseRoot" type="tns:ResponseRoot"/>
    <xs:complexType name="ResponseRoot">
        <xs:sequence>
            <xs:element minOccurs="0" name="ClientCampaings" type="tns:UniqueClientCampaings"/>
            <xs:element minOccurs="0" name="detailsCamping" type="tns:DetailsCamping"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="clients" type="tns:UniqueClient"/>
            <xs:element minOccurs="0" name="detailsClient" type="tns:DetailsClient"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="campaigns" type="tns:Campaigns"/>
            <xs:element minOccurs="0" name="nextBestOffer" type="tns:NextBestOffer"/>
            <xs:element minOccurs="0" name="idService" type="xs:string"/>
            <xs:element minOccurs="0" name="issues" type="tns:Issues"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="traicing" type="tns:Tracing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="responseNextBestOffer" type="tns:responseNextBestOffer"/>
    <xs:complexType name="responseNextBestOffer">
        <xs:sequence>
            <xs:element minOccurs="0" name="nextBestOffer" type="tns:NextBestOffer"/>
            <xs:element minOccurs="0" name="issues" type="tns:Issues"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="DetailsClient" type="tns:DetailsClient"/>
    <xs:complexType name="DetailsClient">
        <xs:sequence>
            <xs:element minOccurs="0" name="birthday" type="xs:string"/>
            <xs:element minOccurs="0" name="yearback" type="xs:string"/>
            <xs:element minOccurs="0" name="ranking" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
