fenix/middle/1/PortfolioManagementApplicationModule.module/Schemas/ResponseBannersResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1540952580824" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1540952580824">
  <complexType name="ResponseBannersElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="serverUsed" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="ok" type="integer"/>
    </sequence>
  </complexType>
  <element name="ResponseBannersElement" type="tns:ResponseBannersElementType"/>
</schema>
