fenix/middle/1/PortfolioManagementApplicationModule.module/Schemas/ResulsetsLogin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/ResulsetsLogin" elementFormDefault="qualified">							
<element name="Resultsets">
		<complexType>
			<sequence>
				<element name="ResultSet1">
					<complexType>
						<sequence>
							<element maxOccurs="unbounded" minOccurs="0" name="Record1">
								<complexType>
									<all>
									    <element name="FIMODULOID" type="int"/>
									</all>
								</complexType>
							</element>
						</sequence>
						</complexType>
				</element>
				</sequence>
		</complexType>
	</element>
</schema>