fenix/middle/1/PortfolioManagementApplicationModule.module/Schemas/SupervisorViewAPI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="/v1/portfolioweb/T1540831452907Converted/JsonSchema" xmlns:tns="/v1/portfolioweb/T1540831452907Converted/JsonSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="EstimationsByEmployee" type="tns:EstimationsByEmployee"/>
    <xs:complexType name="EstimationsByEmployee">
        <xs:sequence>
            <xs:element minOccurs="0" name="EstimationsNumber" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ReactivationsPortfolio" type="tns:ReactivationsPortfolio"/>
    <xs:complexType name="ReactivationsPortfolio">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ReactivationsPortfolio" type="tns:Reactivation"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="PendingOrdersByEmployee" type="tns:PendingOrdersByEmployee"/>
    <xs:complexType name="PendingOrdersByEmployee">
        <xs:sequence>
            <xs:element minOccurs="0" name="ordersNumber" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Schedules" type="tns:Schedules"/>
    <xs:complexType name="Schedules">
        <xs:sequence>
            <xs:element minOccurs="0" name="visits" type="xs:integer"/>
            <xs:element minOccurs="0" name="calls" type="xs:integer"/>
            <xs:element minOccurs="0" name="cambaceo" type="xs:integer"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="SupervisorParams" type="tns:SupervisorParams"/>
    <xs:complexType name="SupervisorParams">
        <xs:sequence>
            <xs:element minOccurs="0" name="branchNumber" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AlertsNotRead" type="tns:AlertsNotRead"/>
    <xs:complexType name="AlertsNotRead">
        <xs:sequence>
            <xs:element minOccurs="0" name="number" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ErrorType" type="tns:ErrorType"/>
    <xs:complexType name="ErrorType">
        <xs:sequence>
            <xs:element minOccurs="0" name="error_code" type="xs:int"/>
            <xs:element minOccurs="0" name="message" type="xs:string"/>
            <xs:element minOccurs="0" name="transactionID" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Orders" type="tns:Orders"/>
    <xs:complexType name="Orders">
        <xs:sequence>
            <xs:element minOccurs="0" name="ordersNumber" type="xs:int"/>
            <xs:element minOccurs="0" name="managed" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="RequestManaged" type="tns:RequestManaged"/>
    <xs:complexType name="RequestManaged">
        <xs:sequence>
            <xs:element minOccurs="0" name="requestNumber" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="OrdersSupervisor" type="tns:OrdersSupervisor"/>
    <xs:complexType name="OrdersSupervisor">
        <xs:sequence>
            <xs:element minOccurs="0" name="ordersNumber" type="xs:int"/>
            <xs:element minOccurs="0" name="managed" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AlertsRead" type="tns:AlertsRead"/>
    <xs:complexType name="AlertsRead">
        <xs:sequence>
            <xs:element minOccurs="0" name="alertsNumber" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="OrdersParams" type="tns:OrdersParams"/>
    <xs:complexType name="OrdersParams">
        <xs:sequence>
            <xs:element minOccurs="0" name="branchNumber" type="xs:int"/>
            <xs:element minOccurs="0" name="employeeNumber" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ManagerParams" type="tns:ManagerParams"/>
    <xs:complexType name="ManagerParams">
        <xs:sequence>
            <xs:element minOccurs="0" name="brancheNumber" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Offer" type="tns:Offer"/>
    <xs:complexType name="Offer">
        <xs:sequence>
            <xs:element minOccurs="0" name="managed" type="xs:int"/>
            <xs:element minOccurs="0" name="offersNumber" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="OrdersManaged" type="tns:OrdersManaged"/>
    <xs:complexType name="OrdersManaged">
        <xs:sequence>
            <xs:element minOccurs="0" name="ordersNumber" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CampaignManaged" type="tns:CampaignManaged"/>
    <xs:complexType name="CampaignManaged">
        <xs:sequence>
            <xs:element minOccurs="0" name="campaignNumber" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Employee" type="tns:Employee"/>
    <xs:complexType name="Employee">
        <xs:sequence>
            <xs:element minOccurs="0" name="alertsRead" type="tns:AlertsNotRead"/>
            <xs:element minOccurs="0" name="offers" type="tns:Offer"/>
            <xs:element minOccurs="0" name="pendingRequest" type="tns:PendingRequestSupervisor"/>
            <xs:element minOccurs="0" name="schedules" type="tns:Schedules"/>
            <xs:element minOccurs="0" name="fullName" type="xs:string"/>
            <xs:element minOccurs="0" name="orders" type="tns:OrdersSupervisor"/>
            <xs:element minOccurs="0" name="reactivations" type="tns:Reactivations"/>
            <xs:element minOccurs="0" name="estimations" type="tns:EstimationsSupervisor"/>
            <xs:element minOccurs="0" name="eventsDay" type="tns:EventDay"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="EstimationsManaged" type="tns:EstimationsManaged"/>
    <xs:complexType name="EstimationsManaged">
        <xs:sequence>
            <xs:element minOccurs="0" name="estimationsNumber" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="EmployeeParams" type="tns:EmployeeParams"/>
    <xs:complexType name="EmployeeParams">
        <xs:sequence>
            <xs:element minOccurs="0" name="employeeNumber" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="pendingRequest" type="tns:pendingRequest"/>
    <xs:complexType name="pendingRequest">
        <xs:sequence>
            <xs:element minOccurs="0" name="requestsNumber" type="xs:int"/>
            <xs:element minOccurs="0" name="managed" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="EstimationsSupervisor" type="tns:EstimationsSupervisor"/>
    <xs:complexType name="EstimationsSupervisor">
        <xs:sequence>
            <xs:element minOccurs="0" name="estimationsNumber" type="xs:int"/>
            <xs:element minOccurs="0" name="managed" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="estimations" type="tns:estimations"/>
    <xs:complexType name="estimations">
        <xs:sequence>
            <xs:element minOccurs="0" name="estimationsNumber" type="xs:int"/>
            <xs:element minOccurs="0" name="managed" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Error" type="tns:Error"/>
    <xs:complexType name="Error">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Error" type="tns:ErrorType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Reactivation" type="tns:Reactivation"/>
    <xs:complexType name="Reactivation">
        <xs:sequence>
            <xs:element minOccurs="0" name="number" type="xs:int"/>
            <xs:element minOccurs="0" name="employeeNumber" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="EventDay" type="tns:EventDay"/>
    <xs:complexType name="EventDay">
        <xs:sequence>
            <xs:element minOccurs="0" name="eventTotal" type="xs:integer"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Employees" type="tns:Employees"/>
    <xs:complexType name="Employees">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Employees" type="tns:Employee"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="PendingRequestSupervisor" type="tns:PendingRequestSupervisor"/>
    <xs:complexType name="PendingRequestSupervisor">
        <xs:sequence>
            <xs:element minOccurs="0" name="requestsNumber" type="xs:int"/>
            <xs:element minOccurs="0" name="managed" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Reactivations" type="tns:Reactivations"/>
    <xs:complexType name="Reactivations">
        <xs:sequence>
            <xs:element minOccurs="0" name="managed" type="xs:int"/>
            <xs:element minOccurs="0" name="reactivationsNumber" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Campaign" type="tns:Campaign"/>
    <xs:complexType name="Campaign">
        <xs:sequence>
            <xs:element minOccurs="0" name="number" type="xs:int"/>
            <xs:element minOccurs="0" name="employeeNumber" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="PendingRequestByEmployee" type="tns:PendingRequestByEmployee"/>
    <xs:complexType name="PendingRequestByEmployee">
        <xs:sequence>
            <xs:element minOccurs="0" name="RequestNumber" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ReactivationsManaged" type="tns:ReactivationsManaged"/>
    <xs:complexType name="ReactivationsManaged">
        <xs:sequence>
            <xs:element minOccurs="0" name="ReactivationsNumber" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Campaigns" type="tns:Campaigns"/>
    <xs:complexType name="Campaigns">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Campaigns" type="tns:Campaign"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
