fenix/middle/1/PortfolioManagementApplicationModule.module/Service Descriptors/external/compensations/PortalRH.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="encrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Contrase単a" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cadena" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CadenaCifrada" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ExisteError" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="encryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CadenaCifrada" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ExisteError" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="decrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Contrase単a" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cadena" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CadenaDescifrada" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ExisteError" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="decryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CadenaDescifrada" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ExisteError" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="expires_encrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Contrase単a" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Parametros" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CadenaCifrada" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ExisteError" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="expires_encryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CadenaCifrada" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ExisteError" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="expires_decrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Contrase単a" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Parametros" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CadenaDescifrada" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ExisteError" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="expires_decryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CadenaDescifrada" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ExisteError" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="encryptSoapIn">
    <wsdl:part name="parameters" element="tns:encrypt" />
  </wsdl:message>
  <wsdl:message name="encryptSoapOut">
    <wsdl:part name="parameters" element="tns:encryptResponse" />
  </wsdl:message>
  <wsdl:message name="decryptSoapIn">
    <wsdl:part name="parameters" element="tns:decrypt" />
  </wsdl:message>
  <wsdl:message name="decryptSoapOut">
    <wsdl:part name="parameters" element="tns:decryptResponse" />
  </wsdl:message>
  <wsdl:message name="expires_encryptSoapIn">
    <wsdl:part name="parameters" element="tns:expires_encrypt" />
  </wsdl:message>
  <wsdl:message name="expires_encryptSoapOut">
    <wsdl:part name="parameters" element="tns:expires_encryptResponse" />
  </wsdl:message>
  <wsdl:message name="expires_decryptSoapIn">
    <wsdl:part name="parameters" element="tns:expires_decrypt" />
  </wsdl:message>
  <wsdl:message name="expires_decryptSoapOut">
    <wsdl:part name="parameters" element="tns:expires_decryptResponse" />
  </wsdl:message>
  <wsdl:portType name="PortalRHSoap">
    <wsdl:operation name="encrypt">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">encrypt</wsdl:documentation>
      <wsdl:input message="tns:encryptSoapIn" />
      <wsdl:output message="tns:encryptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="decrypt">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">decrypt</wsdl:documentation>
      <wsdl:input message="tns:decryptSoapIn" />
      <wsdl:output message="tns:decryptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="expires_encrypt">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">expires_encrypt</wsdl:documentation>
      <wsdl:input message="tns:expires_encryptSoapIn" />
      <wsdl:output message="tns:expires_encryptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="expires_decrypt">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">expires_decrypt</wsdl:documentation>
      <wsdl:input message="tns:expires_decryptSoapIn" />
      <wsdl:output message="tns:expires_decryptSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PortalRHSoap" type="tns:PortalRHSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="encrypt">
      <soap:operation soapAction="http://tempuri.org/encrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="decrypt">
      <soap:operation soapAction="http://tempuri.org/decrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="expires_encrypt">
      <soap:operation soapAction="http://tempuri.org/expires_encrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="expires_decrypt">
      <soap:operation soapAction="http://tempuri.org/expires_decrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PortalRHSoap12" type="tns:PortalRHSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="encrypt">
      <soap12:operation soapAction="http://tempuri.org/encrypt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="decrypt">
      <soap12:operation soapAction="http://tempuri.org/decrypt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="expires_encrypt">
      <soap12:operation soapAction="http://tempuri.org/expires_encrypt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="expires_decrypt">
      <soap12:operation soapAction="http://tempuri.org/expires_decrypt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PortalRH">
    <wsdl:port name="PortalRHSoap" binding="tns:PortalRHSoap">
      <soap:address location="http://10.53.29.252/ws_InterfasesRH/Linea/PortalRH.asmx" />
    </wsdl:port>
    <wsdl:port name="PortalRHSoap12" binding="tns:PortalRHSoap12">
      <soap12:address location="http://10.53.29.252/ws_InterfasesRH/Linea/PortalRH.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>