fenix/middle/1/PortfolioManagementApplicationModule.module/Schemas/Regional/ResultsetCecoSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">
	<element name="Resultsets">
		<complexType>
			<sequence>
				<element name="ResultSet1" minOccurs="0">
					<complexType>
						<sequence>
							<element  name="Record1" minOccurs="0" maxOccurs="unbounded">
				            	<complexType>
				            		<sequence>
										<element minOccurs="0" type="integer" name="FNCECO"/>
										<element minOccurs="0" type="string"  name="FCNOMBRECECO"/>
									</sequence>
								</complexType>
							</element>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>